%p#notice= notice

.card.w-75.mb-3.mt-5
  .card-body
    %h5.card-title= @exercise.name
    %p.card-text= @exercise.description
    = link_to "Back to List", exercises_path, class: "btn btn-primary"
    = link_to "Edit", edit_exercise_path(@exercise), class: "btn btn-warning" if user_signed_in?